<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--> Dependent spring bean configuration< -->
	<bean id="lDate" class="java.time.LocalDate" factory-method="now" />


	<!--> Target Spring Bean class configuration < -->
	
	<bean id="today" class="sbeans.DatePrinter">
		<constructor-arg  name="currentDate" ref="lDate"/>
	</bean>


</beans>
