<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- dependant spring bean cfg -->
    
    <bean id="Itime" class="java.time.LocalDate" factory-method="now" />
    
    <!-- target spring bean cfg -->
    
    <bean id="sg" class="com.nt.sbeans.SeasonFinder" >
    <property name="month" ref="Itime" />
    </bean>

</beans>